html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body{
    background: white;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.nunito-sans-font {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

#app{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height:90%;
    width: 80%;
    justify-content: center;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    grid-template-areas: 
    "header header"
    "main main"
    "trips trips"
    "footer footer";
    border: 1px solid;
    box-shadow: 5px 5px 7px gray;
}

#app > div {
    display: flex;
}

.headline {
    grid-area: header;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    padding: 20px;
    font-weight: 500;
}

#app > div.main {
    grid-area: main;
    background-color: #FDECEC;
    margin: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    column-gap: 30px;
}

figure {
  display: flex;
  flex-flow: column;
  padding: 5px;
  width: 100%;
  margin: auto;
  align-items: center;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

#result p {
    margin: 0px;
}

.trip-preview {
    font-size: 1.5rem;
    font-weight: bold;
}

.saved-trips {
    grid-area: trips;
    margin: 10px 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
}

#get-data-form {
    margin-bottom: 20px;
}

#deal-data {
    padding: 0px 10px;
}


.footer {
    grid-area: footer;
    justify-content: center;
    align-items: start;
    height: 50px;
}

.footer p {
    margin: 0px;
}

/* Reset style for HTML element on active to have no border*/
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 

@media (max-width:900px) {
    #app > div.main {
    height: auto;
    grid-template-columns: 100%;
    padding: 10px;
    row-gap: 20px;
}
}