// Import all of Bootstrap’s CSS
@import "bootstrap/scss/bootstrap";

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body{
    background: white;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2{
    font-size: 1.5rem;
}


.nunito-sans-font {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

#app{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height:90%;
    width: 80%;
    justify-content: center;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    grid-template-areas: 
    "header header"
    "form form"
    "main main"
    "trips trips"
    "footer footer";
    border: 1px solid;
    box-shadow: 5px 5px 7px gray;
}

.div-form{
    grid-area: form;
}

.headline {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    padding: 20px;
    font-weight: 500;
}

#app > div.main {
    grid-area: main;
    background-color: #FDECEC;
    margin: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    column-gap: 30px;
}

figure {
  display: flex;
  flex-flow: column;
  padding: 5px;
  width: 100%;
  margin: auto;
  align-items: center;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

#result p {
    margin: 0px;
}

.trip-preview {
    font-size: 1.5rem;
    font-weight: bold;
}

.user-trips {
    display: flex;
    margin: 10px 20px;
    grid-area: trips;
    flex-direction: column;
}

.saved-trips {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    column-gap: 20px;
    row-gap: 20px;
}

.user-trip {
    border: 1px solid darkgreen;
    border-radius: 15px;
    padding: 5px;
}

.user-trip > p {
    margin: 5px;
}

.trip-buttons {
    display: flex;
    justify-content: space-around;
}

.add-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px 0px;
}

#get-data-form {
    margin: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
    border: 1px solid;
    border-radius: 15px;
    padding: 5px;
}

#get-data-form > div:nth-of-type(1) {
    flex: 2;
}

#get-data-form > div:nth-of-type(4) {
    display: flex;
    flex-direction: row;
    align-items: end;
    column-gap: 15px;
}

#get-data-form input {
    font-size: 20px;
}

#deal-data {
    padding: 0px 10px;
}

#remove-all {
    margin-top: 30px;
    margin-bottom: 30px;
}


.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 50px;
}

.footer p {
    margin: 0px;
}

input[type='date']{
    max-width: 150px;
}

/* Reset style for HTML element on active to have no border*/
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 

@media (max-width:900px) {
    #app{
        height:100%;
        width: 100%;
        font-size: 30px;
        border: none;
    }

    #app > div.main {
        height: auto;
        grid-template-columns: 100%;
        padding: 10px;
        row-gap: 20px;
    }

    #get-data-form {
        flex-direction: column;
        justify-content: start;
    }

    /* Estilo base dos campos de entrada */
  
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 2px solid #ccc; /* Uma borda um pouco mais grossa */
        border-radius: 5px;
        background-color: gray; /* Um fundo levemente acinzentado */
        transition: all 0.3s ease-in-out; /* Transição para suavizar as mudanças */
    }

    /* Efeito ao passar o mouse */
    input[type="text"]:hover,
    input[type="email"]:hover,
    input[type="password"]:hover {
        border-color: #888;
    }

    /* Efeito ao focar (quando o usuário clica no campo) */
    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus {
        border-color: #007bff;
        box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
        outline: none;
    }
}